@model List<MyBlog1sept2016.Models.Post>
@using MyBlog1sept2016.Classes;
@{
    ViewBag.Title = "Index";
}

<h2>Публикации</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Нова публикация", "Create")
    }
    
</p>
<table class="table">
    <tr class="titleRow">
        <th>
            Заглавие
        </th>
        <th>
            Съдържание
        </th>
        <th>
            Дата
        </th>
        <th>
            Автор
        </th>
        <th>
            Действия
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr class="normalRow">
        <td class="postTitle">
            <strong>@item.Title</strong>
        </td>
        <td>
            @Utils.CutText(item.Body, 100)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @if (item.Author!=null)
            {
                @item.Author.UserName
            }
            else
            {
                @: <i>(Няма автор)</i>
            }

        </td>
        <td>
         @if (User.IsInRole("Administrator"))
         {
            @Html.ActionLink("Редакция", "Edit", new { id = item.Id }) @:|
            @Html.ActionLink("Детайли", "Details", new { id = item.Id }) @:|
            @Html.ActionLink("Изтрий", "Delete", new { id = item.Id })
         }
         else
         {
            @Html.ActionLink("Детайли", "Details", new { id = item.Id })
         }
        </td>
    </tr>
}

</table>
