@model List<MyBlog1sept2016.Models.Post>
@using MyBlog1sept2016.Classes;
@{
    ViewBag.Title = "Home Page";
}

<aside class="sidebar col-md-2">
    <h4><strong><font color="grey">Последни публикации:</font></strong></h4>

    @foreach (var post in Model)
            {
        <div><a href="~/Posts/Details/@post.Id"><font color="grey">@post.Title...</font></a>@*<span>- <i>@post.Date</i></span>*@</div>
    }
    
</aside>


<div class="col-md-10">
    @for (int i = 0; i < 4; i++)
    {
        ViewBag.PostTitle = Model[i].Title;
        
            <div class="post col-md-6">
                <h3 class="title"><a href="~/Posts/Details/@Model[i].Id"><font color="black">@Model[i].Title</font></a></h3>
                <div class="about">
                    Публикувано
                    @if (Model[i].Author != null)
                {
                        @: от
                        <i>@Model[i].Author.Fullname  @*(@Model[i].Author.UserName)*@</i>
                    }
                    на <i>@Model[i].Date</i>
                </div>
                <div class="body">@Html.Raw(Utils.CutText(Model[i].Body, 700)) </div>
            </div>
        
    }
</div>